<div>
    <h2>Aseguradoras</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="aseguradora.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Aseguradora
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Nombre</span></th>
                    <th><span>Regimen</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aseguradora in vm.aseguradoras track by aseguradora.id">
                    <td><a ui-sref="aseguradora-detail({id:aseguradora.id})">{{aseguradora.id}}</a></td>
                    <td>{{aseguradora.nombre}}</td>
                    <td>
                        <span ng-repeat="regimen in aseguradora.regimen">
                            <a class="form-control-static" ui-sref="regimen-detail({id: regimen.id})">{{regimen.nombre}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="aseguradora-detail({id:aseguradora.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="aseguradora.edit({id:aseguradora.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="aseguradora.delete({id:aseguradora.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
