<div>
    <h2>Ips</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ips.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Ips
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Nombre</span></th>
                    <th><span>Direccion</span></th>
                    <th><span>Municipio</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ips in vm.ips track by ips.id">
                    <td><a ui-sref="ips-detail({id:ips.id})">{{ips.id}}</a></td>
                    <td>{{ips.nombre}}</td>
                    <td>{{ips.direccion}}</td>
                    <td>
                        <span ng-repeat="municipio in ips.municipios">
                            <a class="form-control-static" ui-sref="municipio-detail({id: municipio.id})">{{municipio.nombre}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="ips-detail({id:ips.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ips.edit({id:ips.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ips.delete({id:ips.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
